html, body{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    position: fixed;
    flex: 1;
    justify-content: space-between;
    width: 100%;
    background-color: darkgrey;
    top: 0;
}

.navbar{   
    display: flex;
    position: fixed;
    flex: 1;
    justify-content: center; 
    height: 45px;
    width: 100%;
    bottom: 0;
}

.navlink{
    text-decoration: none;
    color: black;
    text-align: center;
    width: 100%;
    background-color: bisque;
    outline-style: none;
    outline-color: black;
    outline-width: 0.01px;
}

.navlink:hover{
    color: gray;
    background-color: blanchedalmond;
}

.task{
    background-color: paleturquoise;
    outline-style: solid;
    outline-color: lightgray;
    outline-width: 0.01px;
}

.tasks-area{
    margin-top: 66px;
    padding-bottom: 45px;
}

.modal-background{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-box{
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: #fefefe;
    width: 95%;
    height: 85%;
    display: flex;
    flex-flow: column;
}

.modal-header{
    display: flex;
    justify-content: space-between;
    height: 10%;
}

.notifications-header{
    position: relative;
}

.notifications-area{
    overflow: auto;
    background-color: gray;
}

.save-button{
    height: 10%;
}

.page{
    display: flex;
    flex-flow: column;
    min-width: 100%;
    scroll-snap-align: start;
}

.modal-pages{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: both mandatory;
    height: 100%;
}

.modal-content{
    display: flex;
    flex-flow: column;
    height: 90%;
}
